footer {
  height: 345px;
  display: flex;
padding: 0 4vw;

  background: #05365f;
}

.custom-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 176px;
  color: white;
}

.socials-container h3 {
  margin-bottom: 24px;
  color: #fff;
  font-family: "TradeGothic LT Extended", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pages-container li {
  display: flex;
  flex-direction: column;
}

.pages-container a {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
